* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: monospace;
  color: #333;
  height: 100%;
}

body {
  padding: 20px;
  display: flex;
  min-height: 100vh;
  flex-flow: column nowrap;
  margin: 0;
}

.setup {
  display: inline-flex;
  flex: 1 0 auto;
  flex-flow: row nowrap;
}

h1 {
  margin: 0;
  font-size: 20px;
  display: inline-flex;
  flex: 40 0 auto;
}

.setup button {
  display: inline-flex;
  flex: 0 1 auto;
  text-align: center;
}

.chat-log {
  flex: 40 0 auto;
  word-wrap: break-word;
}

.chat-log span {
  color: #444;
}

.bottom, .bottom form {
  display: inline-flex;
  flex: 1 0 auto;
  flex-flow: row nowrap;
}

.text-field {
  display: inline-flex;
  flex: 20 0 auto;
}

.send-btn {
  display: inline-flex;
  flex: 0 1 auto;
}

.btn {
  padding: 10px;
  border: 0;
  font-family: monospace;
  color: white;
  cursor: pointer;
}

.btn-right {
  float: right;
}

.btn-green {
  background: green;
}

.btn-green-2 {
  background: rgba(43, 197, 43, 1);
}

.btn-blue {
  background: teal;
}

.btn-black {
  background: #222;
}

.btn[disabled="disabled"] {
  background: #CCC;
}
