<!doctype html>
<html>
<head>
  <title>Test'em</title>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jasmine/1.3.1/jasmine.js"></script>
  <script src="/testem.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jasmine/1.3.1/jasmine-html.js"></script>
  <script>
    (function() {
      var jasmineEnv = jasmine.getEnv()
      jasmineEnv.addReporter(new jasmine.HtmlReporter)

      window.onload = function() {
        jasmineEnv.execute()
      };
    })();
  </script>

  <script src="../lib/system.js"></script>
  <script>
    {{#serve_files}}
    System.import('../{{{src}}}');
    {{/serve_files}}
  </script>

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasmine/1.3.1/jasmine.css">
</head>
<body>
  <div id="jasmine_content"></div>
</body>
</html>
